In [28]:
# Dependencies

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

In [29]:
#Load medicare enrollment data csv (from DataUSA)

medicare_df = pd.read_csv("../Tessa_ohio/OhioCounties_MedicareData.csv")
medicare_df.head()

,geo_name,geo_sumlevel,geo_id,total_reimbursements_b_2010,total_reimbursements_b_2011,total_reimbursements_b_2012,total_reimbursements_b_2013,total_reimbursements_b_2014
0,"Baldwin County, AL",county,05000US01003,9618.0,9569.0,9501.0,9489.0,9412.0
1,"Barbour County, AL",county,05000US01005,9761.0,10718.0,10413.0,10077.0,10117.0
2,"Bibb County, AL",county,05000US01007,11269.0,10780.0,10825.0,10674.0,10817.0
3,"Blount County, AL",county,05000US01009,10238.0,10508.0,10280.0,10092.0,10035.0
4,"Bullock County, AL",county,05000US01011,9567.0,8833.0,9975.0,9293.0,9275.0

In [30]:
#Rename columns

modmedicare_df=medicare_df.rename(columns={
    'geo_name':'Location',
    'geo_id':'Geo ID',
    'total_reimbursements_b_2010':'Reimbursements per Enrollee (2010)',
    'total_reimbursements_b_2011':'Reimbursements per Enrollee (2011)',
    'total_reimbursements_b_2012':'Reimbursements per Enrollee (2012)',
    'total_reimbursements_b_2013':'Reimbursements per Enrollee (2013)',
    'total_reimbursements_b_2014':'Reimbursements per Enrollee (2014)',
})

mod2medicare_df=modmedicare_df.drop(['geo_sumlevel'],axis=1)
mod2medicare_df.head()

,Location,Geo ID,Reimbursements per Enrollee (2010),Reimbursements per Enrollee (2011),Reimbursements per Enrollee (2012),Reimbursements per Enrollee (2013),Reimbursements per Enrollee (2014)
0,"Baldwin County, AL",05000US01003,9618.0,9569.0,9501.0,9489.0,9412.0
1,"Barbour County, AL",05000US01005,9761.0,10718.0,10413.0,10077.0,10117.0
2,"Bibb County, AL",05000US01007,11269.0,10780.0,10825.0,10674.0,10817.0
3,"Blount County, AL",05000US01009,10238.0,10508.0,10280.0,10092.0,10035.0
4,"Bullock County, AL",05000US01011,9567.0,8833.0,9975.0,9293.0,9275.0

In [31]:
#Split "Location" column into separate columns of county and state

mod2medicare_df[['County','State']]=mod2medicare_df['Location'].str.rsplit(',', expand=True)
mod2medicare_df.head()

,Location,Geo ID,Reimbursements per Enrollee (2010),Reimbursements per Enrollee (2011),Reimbursements per Enrollee (2012),Reimbursements per Enrollee (2013),Reimbursements per Enrollee (2014),County,State
0,"Baldwin County, AL",05000US01003,9618.0,9569.0,9501.0,9489.0,9412.0,Baldwin County,AL
1,"Barbour County, AL",05000US01005,9761.0,10718.0,10413.0,10077.0,10117.0,Barbour County,AL
2,"Bibb County, AL",05000US01007,11269.0,10780.0,10825.0,10674.0,10817.0,Bibb County,AL
3,"Blount County, AL",05000US01009,10238.0,10508.0,10280.0,10092.0,10035.0,Blount County,AL
4,"Bullock County, AL",05000US01011,9567.0,8833.0,9975.0,9293.0,9275.0,Bullock County,AL

In [32]:
#Reorder columns to shift county and state columns to the left
mod2medicare_df=mod2medicare_df[['County', 'State', 'Geo ID', 'Reimbursements per Enrollee (2010)', 'Reimbursements per Enrollee (2011)','Reimbursements per Enrollee (2012)','Reimbursements per Enrollee (2013)','Reimbursements per Enrollee (2014)']]
mod2medicare_df.head()

,County,State,Geo ID,Reimbursements per Enrollee (2010),Reimbursements per Enrollee (2011),Reimbursements per Enrollee (2012),Reimbursements per Enrollee (2013),Reimbursements per Enrollee (2014)
0,Baldwin County,AL,05000US01003,9618.0,9569.0,9501.0,9489.0,9412.0
1,Barbour County,AL,05000US01005,9761.0,10718.0,10413.0,10077.0,10117.0
2,Bibb County,AL,05000US01007,11269.0,10780.0,10825.0,10674.0,10817.0
3,Blount County,AL,05000US01009,10238.0,10508.0,10280.0,10092.0,10035.0
4,Bullock County,AL,05000US01011,9567.0,8833.0,9975.0,9293.0,9275.0

In [33]:
#Set index to state column

mod3medicare_df=mod2medicare_df.set_index('State')
mod3medicare_df.head()

,County,Geo ID,Reimbursements per Enrollee (2010),Reimbursements per Enrollee (2011),Reimbursements per Enrollee (2012),Reimbursements per Enrollee (2013),Reimbursements per Enrollee (2014)
State,,,,,,,
AL,Baldwin County,05000US01003,9618.0,9569.0,9501.0,9489.0,9412.0
AL,Barbour County,05000US01005,9761.0,10718.0,10413.0,10077.0,10117.0
AL,Bibb County,05000US01007,11269.0,10780.0,10825.0,10674.0,10817.0
AL,Blount County,05000US01009,10238.0,10508.0,10280.0,10092.0,10035.0
AL,Bullock County,05000US01011,9567.0,8833.0,9975.0,9293.0,9275.0

In [34]:
#Search all rows relevant to Ohio
medicare_ohio_df=mod3medicare_df.loc[[' OH']]
medicare_ohio_df.head()

,County,Geo ID,Reimbursements per Enrollee (2010),Reimbursements per Enrollee (2011),Reimbursements per Enrollee (2012),Reimbursements per Enrollee (2013),Reimbursements per Enrollee (2014)
State,,,,,,,
OH,Adams County,05000US39001,10803.0,11583.0,11199.0,10875.0,12341.0
OH,Allen County,05000US39003,9743.0,10227.0,10413.0,10137.0,10116.0
OH,Ashland County,05000US39005,8359.0,8704.0,8805.0,8796.0,8274.0
OH,Ashtabula County,05000US39007,11209.0,11538.0,11291.0,11131.0,11231.0
OH,Athens County,05000US39009,10423.0,10099.0,9904.0,10008.0,10117.0

In [35]:
#Load population data https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?src=bkmk

population_df = pd.read_csv("../Tessa_ohio/OhioCounties_PopulationData.csv")
population_df.head()

,GEO.id,GEO.id2,GEO.display-label,rescen42010,resbase42010,respop72010,respop72011,respop72012,respop72013,respop72014,respop72015,respop72016
0,Id,Id2,Geography,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016
1,0500000US39001,39001,"Adams County, Ohio",28550,28554,28562,28522,28358,28140,28135,28016,27907
2,0500000US39003,39003,"Allen County, Ohio",106331,106326,106395,105939,105295,105129,104944,104210,103742
3,0500000US39005,39005,"Ashland County, Ohio",53139,53139,53319,53261,53247,53193,53244,53380,53652
4,0500000US39007,39007,"Ashtabula County, Ohio",101497,101488,101394,101080,100251,99739,99112,98544,98231

In [36]:
#Delete columns

mod2population_df=population_df.drop(['GEO.id', 'GEO.id2','rescen42010','resbase42010','respop72015','respop72016'],axis=1)
mod2population_df.head()

,GEO.display-label,respop72010,respop72011,respop72012,respop72013,respop72014
0,Geography,Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014
1,"Adams County, Ohio",28562,28522,28358,28140,28135
2,"Allen County, Ohio",106395,105939,105295,105129,104944
3,"Ashland County, Ohio",53319,53261,53247,53193,53244
4,"Ashtabula County, Ohio",101394,101080,100251,99739,99112

In [37]:
#Rename columns

mod3population_df=mod2population_df.rename(columns={
    'GEO.display-label':'Location',
    'respop72010':'Population Est. 2010',
    'respop72011':'Population Est. 2011',
    'respop72012':'Population Est. 2012',
    'respop72013':'Population Est. 2013',
    'respop72014':'Population Est. 2014',
})

mod3population_df.head()

,Location,Population Est. 2010,Population Est. 2011,Population Est. 2012,Population Est. 2013,Population Est. 2014
0,Geography,Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014
1,"Adams County, Ohio",28562,28522,28358,28140,28135
2,"Allen County, Ohio",106395,105939,105295,105129,104944
3,"Ashland County, Ohio",53319,53261,53247,53193,53244
4,"Ashtabula County, Ohio",101394,101080,100251,99739,99112

In [38]:
#Split "Location" column into separate columns of county and state

mod3population_df[['County','State']]=mod3population_df['Location'].str.rsplit(',', expand=True)
mod3population_df.head()

,Location,Population Est. 2010,Population Est. 2011,Population Est. 2012,Population Est. 2013,Population Est. 2014,County,State
0,Geography,Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Geography,None
1,"Adams County, Ohio",28562,28522,28358,28140,28135,Adams County,Ohio
2,"Allen County, Ohio",106395,105939,105295,105129,104944,Allen County,Ohio
3,"Ashland County, Ohio",53319,53261,53247,53193,53244,Ashland County,Ohio
4,"Ashtabula County, Ohio",101394,101080,100251,99739,99112,Ashtabula County,Ohio

In [39]:
#Reorder columns to shift county and state columns to the left
mod3population_df=mod3population_df[['County', 'State', 'Population Est. 2010', 'Population Est. 2011', 'Population Est. 2012', 'Population Est. 2013','Population Est. 2014']]
mod3population_df.head()

,County,State,Population Est. 2010,Population Est. 2011,Population Est. 2012,Population Est. 2013,Population Est. 2014
0,Geography,None,Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014
1,Adams County,Ohio,28562,28522,28358,28140,28135
2,Allen County,Ohio,106395,105939,105295,105129,104944
3,Ashland County,Ohio,53319,53261,53247,53193,53244
4,Ashtabula County,Ohio,101394,101080,100251,99739,99112

In [40]:
#Set index to state column

mod4population_df=mod3population_df.set_index('State')
mod4population_df.head()

,County,Population Est. 2010,Population Est. 2011,Population Est. 2012,Population Est. 2013,Population Est. 2014
State,,,,,,
NaN,Geography,Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014
Ohio,Adams County,28562,28522,28358,28140,28135
Ohio,Allen County,106395,105939,105295,105129,104944
Ohio,Ashland County,53319,53261,53247,53193,53244
Ohio,Ashtabula County,101394,101080,100251,99739,99112

In [41]:
#Delete first row (NaN row)
mod5population_df=mod4population_df.drop(mod4population_df.index[[0]])
mod5population_df.head()

,County,Population Est. 2010,Population Est. 2011,Population Est. 2012,Population Est. 2013,Population Est. 2014
State,,,,,,
Ohio,Adams County,28562,28522,28358,28140,28135
Ohio,Allen County,106395,105939,105295,105129,104944
Ohio,Ashland County,53319,53261,53247,53193,53244
Ohio,Ashtabula County,101394,101080,100251,99739,99112
Ohio,Athens County,65221,65102,64605,64432,64592

In [42]:
mergedtable_df=medicare_ohio_df.merge(mod5population_df, left_on='County', right_on='County', how='outer')
mergedtable_df=mergedtable_df.drop(['Geo ID'],axis=1)
mergedtable_df.head()

,County,Reimbursements per Enrollee (2010),Reimbursements per Enrollee (2011),Reimbursements per Enrollee (2012),Reimbursements per Enrollee (2013),Reimbursements per Enrollee (2014),Population Est. 2010,Population Est. 2011,Population Est. 2012,Population Est. 2013,Population Est. 2014
0,Adams County,10803.0,11583.0,11199.0,10875.0,12341.0,28562,28522,28358,28140,28135
1,Allen County,9743.0,10227.0,10413.0,10137.0,10116.0,106395,105939,105295,105129,104944
2,Ashland County,8359.0,8704.0,8805.0,8796.0,8274.0,53319,53261,53247,53193,53244
3,Ashtabula County,11209.0,11538.0,11291.0,11131.0,11231.0,101394,101080,100251,99739,99112
4,Athens County,10423.0,10099.0,9904.0,10008.0,10117.0,65221,65102,64605,64432,64592

In [43]:
#Change data type of population data to float64 so that this matches medicare data
mergedtable_df['Population Est. 2010'] = mergedtable_df['Population Est. 2010'].astype(np.float64)
mergedtable_df['Population Est. 2011'] = mergedtable_df['Population Est. 2011'].astype(np.float64)
mergedtable_df['Population Est. 2012'] = mergedtable_df['Population Est. 2012'].astype(np.float64)
mergedtable_df['Population Est. 2013'] = mergedtable_df['Population Est. 2013'].astype(np.float64)
mergedtable_df['Population Est. 2014'] = mergedtable_df['Population Est. 2014'].astype(np.float64)
mergedtable_df.dtypes

County                                 object
Reimbursements per Enrollee (2010)    float64
Reimbursements per Enrollee (2011)    float64
Reimbursements per Enrollee (2012)    float64
Reimbursements per Enrollee (2013)    float64
Reimbursements per Enrollee (2014)    float64
Population Est. 2010                  float64
Population Est. 2011                  float64
Population Est. 2012                  float64
Population Est. 2013                  float64
Population Est. 2014                  float64
dtype: object

In [44]:
#Calculate percentage of population receiving medicare reimbursements for each county
mergedtable_df['% Pop. Receiveing Reimbursements (2010)']= mergedtable_df['Reimbursements per Enrollee (2010)']/mergedtable_df['Population Est. 2010']*100
mergedtable_df['% Pop. Receiveing Reimbursements (2012)']= mergedtable_df['Reimbursements per Enrollee (2012)']/mergedtable_df['Population Est. 2012']*100
mergedtable_df['% Pop. Receiveing Reimbursements (2014)']= mergedtable_df['Reimbursements per Enrollee (2014)']/mergedtable_df['Population Est. 2014']*100
mergedtable_df.head()

,County,Reimbursements per Enrollee (2010),Reimbursements per Enrollee (2011),Reimbursements per Enrollee (2012),Reimbursements per Enrollee (2013),Reimbursements per Enrollee (2014),Population Est. 2010,Population Est. 2011,Population Est. 2012,Population Est. 2013,Population Est. 2014,% Pop. Receiveing Reimbursements (2010),% Pop. Receiveing Reimbursements (2012),% Pop. Receiveing Reimbursements (2014)
0,Adams County,10803.0,11583.0,11199.0,10875.0,12341.0,28562.0,28522.0,28358.0,28140.0,28135.0,37.822982,39.491502,43.863515
1,Allen County,9743.0,10227.0,10413.0,10137.0,10116.0,106395.0,105939.0,105295.0,105129.0,104944.0,9.157385,9.889358,9.639427
2,Ashland County,8359.0,8704.0,8805.0,8796.0,8274.0,53319.0,53261.0,53247.0,53193.0,53244.0,15.677338,16.536143,15.539779
3,Ashtabula County,11209.0,11538.0,11291.0,11131.0,11231.0,101394.0,101080.0,100251.0,99739.0,99112.0,11.054895,11.262731,11.331625
4,Athens County,10423.0,10099.0,9904.0,10008.0,10117.0,65221.0,65102.0,64605.0,64432.0,64592.0,15.981049,15.330083,15.662930

In [45]:
percentages_df=mergedtable_df.drop([
    'Reimbursements per Enrollee (2010)', 
    'Reimbursements per Enrollee (2011)',
    'Reimbursements per Enrollee (2012)',
    'Reimbursements per Enrollee (2013)',
    'Reimbursements per Enrollee (2014)',
    'Population Est. 2010',
    'Population Est. 2011',
    'Population Est. 2012',
    'Population Est. 2013',
    'Population Est. 2014'],axis=1)
percentages_df.head()

,County,% Pop. Receiveing Reimbursements (2010),% Pop. Receiveing Reimbursements (2012),% Pop. Receiveing Reimbursements (2014)
0,Adams County,37.822982,39.491502,43.863515
1,Allen County,9.157385,9.889358,9.639427
2,Ashland County,15.677338,16.536143,15.539779
3,Ashtabula County,11.054895,11.262731,11.331625
4,Athens County,15.981049,15.330083,15.662930

In [46]:
percentages_df.to_csv("../Tessa_ohio/MedicareEnrollPercent.csv", index=False, header=True)

In [47]:
#Percentages in descending order for 2010
per2010_df=percentages_df.sort_values(by='% Pop. Receiveing Reimbursements (2010)', ascending=False)
per2010_df=per2010_df.drop([
    '% Pop. Receiveing Reimbursements (2012)',
    '% Pop. Receiveing Reimbursements (2014)'],axis=1)
per2010_df.head()

             County  % Pop. Receiveing Reimbursements (2010)
81    Vinton County                                83.123369
33  Harrison County                                68.875426
60     Noble County                                65.176985
57    Morgan County                                63.104089
55    Monroe County                                62.233349

In [48]:
#Percentages in descending order for 2012
per2012_df=percentages_df.sort_values(by='% Pop. Receiveing Reimbursements (2012)', ascending=False)
per2012_df=per2012_df.drop([
    '% Pop. Receiveing Reimbursements (2010)',
    '% Pop. Receiveing Reimbursements (2014)'],axis=1)
per2012_df.head()

             County  % Pop. Receiveing Reimbursements (2012)
81    Vinton County                                74.387848
33  Harrison County                                71.967140
60     Noble County                                70.109031
55    Monroe County                                67.835094
57    Morgan County                                64.793532

In [49]:
#Percentages in descending order for 2014
per2014_df=percentages_df.sort_values(by='% Pop. Receiveing Reimbursements (2014)', ascending=False)
per2014_df=per2014_df.drop([
    '% Pop. Receiveing Reimbursements (2010)',
    '% Pop. Receiveing Reimbursements (2012)'],axis=1)
per2014_df.head()

             County  % Pop. Receiveing Reimbursements (2014)
81    Vinton County                                78.272410
33  Harrison County                                74.733050
60     Noble County                                70.768696
57    Morgan County                                69.051806
55    Monroe County                                68.570440

In [50]:
#Import 2016 data for uninsured adults in Ohio. Source: http://www.countyhealthrankings.org/rankings/data/OH
uninsured_df = pd.read_csv("../Tessa_ohio/OhioCounties_uninsured.csv")
uninsured_df.head()

,Unnamed: 0,Unnamed: 1,Uninsured adults,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,State,County,# Uninsured,% Uninsured,95% CI - Low,95% CI - High
1,Ohio,NaN,1109148,16,16,16
2,Ohio,Adams,3107,19,16,21
3,Ohio,Allen,9570,16,14,18
4,Ohio,Ashland,5074,17,15,19

In [51]:
#Rename columns

moduninsured_df=uninsured_df.rename(columns={
    'Unnamed: 0':'State',
    'Unnamed: 1':'State',
    'Uninsured adults':'# Uninsured Adults',
    'Unnamed: 3':'% Uninsured',
    'Unnamed: 4':'95% CI - Low',
    'Unnamed: 5':'95% CI - High'
})

moduninsured_df.head()

   State    State # Uninsured Adults  % Uninsured  95% CI - Low  95% CI - High
0  State   County        # Uninsured  % Uninsured  95% CI - Low  95% CI - High
1   Ohio      NaN            1109148           16            16             16
2   Ohio    Adams               3107           19            16             21
3   Ohio    Allen               9570           16            14             18
4   Ohio  Ashland               5074           17            15             19

In [52]:
#Delete first two rows
mod2uninsured_df=moduninsured_df.drop(moduninsured_df.index[[0,1]])
mod2uninsured_df.head()

  State      State # Uninsured Adults % Uninsured 95% CI - Low 95% CI - High
2  Ohio      Adams               3107          19           16            21
3  Ohio      Allen               9570          16           14            18
4  Ohio    Ashland               5074          17           15            19
5  Ohio  Ashtabula              10468          18           16            20
6  Ohio     Athens               7192          18           16            21

In [53]:
#Percentages in descending order for 2014
sorteduninsured_df=mod2uninsured_df.sort_values(by='% Uninsured', ascending=False)
sorteduninsured_df.head()

   State      State # Uninsured Adults % Uninsured 95% CI - Low 95% CI - High
22  Ohio   Delaware               9927           9            8            10
39  Ohio     Holmes               7033          30           27            33
2   Ohio      Adams               3107          19           16            21
37  Ohio   Highland               4779          19           17            21
17  Ohio  Coshocton               4194          19           17            22